<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/cinema-seat.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-left">
            <h5>Want A Seat ?</h5>
            <h1>RESERVE NOW</h1><br>
            <a href="#" class="btn btn-outline-neutral btn-round">Join Now</a>
            <div class="motto text-right">
            <a href="/#/cinema" type="button" class="btn btn-danger btn-round right">Reserve Seat Now!</a>
            </div>
        </div>

    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk cinema</h2>
                <h5 class="description">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h5>
                <br>
                <a class="btn btn-outline-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-diamond"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Real 3d</h4>
                        <p class="description">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-tv-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Great Environment</h4>
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-trophy"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Entertainment Center</h4>
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Recent Movies</h2>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/joker-carousel.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p class="lead" >Joker</p>
                                <div class="motto text-right">
                                    <a class="btn btn-danger btn-round btn-sm">get tickets</a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/john-wick-carousel.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>John Wick 3: Parabellum</p>
                                <div class="motto text-right">
                                    <a class="btn btn-danger btn-round btn-sm">get tickets</a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/o-u-t-i-h-carousel.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Once Upon A Time In... Hollywood</p>
                                <div class="motto text-right">
                                    <a class="btn btn-danger btn-round btn-sm">get tickets</a>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
